<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Art</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @the_posts.each do |the_post| %>
      <tr>
        <td><%= the_post.title %></td>
        <td><%= the_post.body %></td>
        <td><%= the_post.art %></td>
        <td><%= link_to 'Show', the_post %></td>
        <td><%= link_to 'Edit', edit_the_post_path(the_post) %></td>
        <td><%= link_to 'Destroy', the_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a New Post', new_the_post_path %>
